In [1]:
import pandas as pd

In [2]:
trips = pd.read_csv('../data/trentino_trasporti/trips.txt')

In [3]:
routes = pd.read_csv('../data/trentino_trasporti/routes.txt')

In [6]:
shapes = pd.read_csv('../data/trentino_trasporti/shapes.txt')

In [7]:
stop_times = pd.read_csv('../data/trentino_trasporti/stop_times.txt')

merge trips with routes by route_id so that each trip has a route associated to it now and a shape as well

In [ ]:
# final_df = trips.merge(routes, on='route_id').merge(shapes, on='shape_id').merge(stop_times, on='trip_id')

it turns out that merging on shapes is not that useful since it does not consider the entire path but only merges on a single value (since many share the same id)

In [23]:
final_df = trips.merge(routes, on='route_id').merge(stop_times, on='trip_id')

fromt this dataset we have information about each trip that should be carried out each day including also a

In [24]:
final_df = final_df.drop(['route_color', 'route_text_color', 'route_type', 'agency_id', 'service_id'], axis=1)

In [25]:
final_df.tail()

,route_id,trip_id,trip_headsign,direction_id,shape_id,wheelchair_accessible,route_short_name,route_long_name,arrival_time,departure_time,stop_id,stop_sequence
89590,570,0004254132025033120250612,Povo Piazza Manci,1,NaN,2.0,CM,Povo Borino Celva Passo Cimirlo,18:39:00,18:39:00,244,8
89591,570,0004254132025033120250612,Povo Piazza Manci,1,NaN,2.0,CM,Povo Borino Celva Passo Cimirlo,18:39:00,18:39:00,180,9
89592,570,0004254132025033120250612,Povo Piazza Manci,1,NaN,2.0,CM,Povo Borino Celva Passo Cimirlo,18:41:00,18:41:00,182,10
89593,570,0004254132025033120250612,Povo Piazza Manci,1,NaN,2.0,CM,Povo Borino Celva Passo Cimirlo,18:42:00,18:42:00,191,11
89594,570,0004254132025033120250612,Povo Piazza Manci,1,NaN,2.0,CM,Povo Borino Celva Passo Cimirlo,18:43:00,18:43:00,187,12

In [26]:
final_df.to_parquet('../data/parquet/aggregated_df.parquet')

In [27]:
pd.read_parquet('../data/parquet/aggregated_df.parquet', columns=['shape_pt_lon'])

ArrowInvalid: No match for FieldRef.Name(shape_pt_lon) in route_id: int64
trip_id: string
trip_headsign: string
direction_id: int64
shape_id: string
wheelchair_accessible: double
route_short_name: string
route_long_name: string
arrival_time: string
departure_time: string
stop_id: int64
stop_sequence: int64
__fragment_index: int32
__batch_index: int32
__last_in_fragment: bool
__filename: string

each trip is associated to a unique direction

In [22]:
final_df[final_df['trip_id']=='0004254122025033120250612']['direction_id'].unique()

array([1])

# From generated data

In [30]:
df = pd.read_csv('../data/generated/stop_times_passengers.csv')

In [45]:
df_with_shapes = df.merge(trips[['trip_id', 'shape_id']], on='trip_id').drop(['Unnamed: 0'], axis=1)

In [ ]:
# df_with_shapes.to_csv('../data/generated/stop_times_passengers_shapes.csv')

In [ ]:
df_with_shapes

In [29]:
df.head()

,Unnamed: 0,stop_id,route_short_name,arrival_time,departure_time,trip_id,stop_sequence,hospital,school,passengers,passengers_out
0,0,3049,L1,06:32:00,06:32:00,0004187192024090920250612,1,0,0,8,1
1,1,3050,L1,06:32:00,06:32:00,0004187192024090920250612,2,0,0,12,3
2,2,3052,L1,06:33:00,06:33:00,0004187192024090920250612,3,0,0,20,7
3,3,3054,L1,06:34:00,06:34:00,0004187192024090920250612,4,0,0,14,3
4,4,3047,L1,06:35:00,06:35:00,0004187192024090920250612,5,0,0,13,2

In [33]:
import datetime

In [39]:
app_start = datetime.datetime(2025, 1, 1, 0, 0, 0)

In [38]:
pd.to_timedelta(df['arrival_time'])

0       0 days 06:32:00
1       0 days 06:32:00
2       0 days 06:33:00
3       0 days 06:34:00
4       0 days 06:35:00
              ...
89590   0 days 18:39:00
89591   0 days 18:39:00
89592   0 days 18:41:00
89593   0 days 18:42:00
89594   0 days 18:43:00
Name: arrival_time, Length: 89595, dtype: timedelta64[ns]

In [48]:
(app_start + pd.to_timedelta(df['arrival_time'])).iloc[0].isoformat()

'2025-01-01T06:32:00'

In [49]:
df[df['route_short_name']=='5']

,Unnamed: 0,stop_id,route_short_name,arrival_time,departure_time,trip_id,stop_sequence,hospital,school,passengers,passengers_out
556,556,247,5,06:26:00,06:26:00,0004187712024090920250612,1,0,0,11,7
557,557,407,5,06:28:00,06:28:00,0004187712024090920250612,2,0,0,25,5
558,558,444,5,06:30:00,06:30:00,0004187712024090920250612,3,0,0,17,7
559,559,165,5,06:31:00,06:31:00,0004187712024090920250612,4,0,0,18,4
560,560,166,5,06:33:00,06:33:00,0004187712024090920250612,5,0,0,21,7
...,...,...,...,...,...,...,...,...,...,...,...
83391,83391,451,5,08:39:00,08:39:00,0004248192025030620250612,15,0,0,22,7
83392,83392,176,5,08:41:00,08:41:00,0004248192025030620250612,16,0,0,18,3
83393,83393,276,5,08:42:00,08:42:00,0004248192025030620250612,17,0,0,11,0
83394,83394,403,5,08:44:00,08:44:00,0004248192025030620250612,18,0,0,18,5
83395,83395,2189,5,08:45:00,08:45:00,0004248192025030620250612,19,0,0,9,2

In [51]:
len(df_with_shapes['trip_id'].unique())

3613

In [52]:
len(trips['trip_id'].unique())

3613

In [53]:
df_with_shapes[(df_with_shapes['trip_id'] == '0004188402024090920250612') & (df_with_shapes['route_short_name'] == '5')]

,stop_id,route_short_name,arrival_time,departure_time,trip_id,stop_sequence,hospital,school,passengers,passengers_out,shape_id
1156,247,5,17:29:00,17:29:00,0004188402024090920250612,1,0,0,20,5,D593_T0501b_Andata_PRINCIPALE_sub2
1157,407,5,17:31:00,17:31:00,0004188402024090920250612,2,0,0,24,8,D593_T0501b_Andata_PRINCIPALE_sub2
1158,444,5,17:33:00,17:33:00,0004188402024090920250612,3,0,0,12,1,D593_T0501b_Andata_PRINCIPALE_sub2
1159,165,5,17:34:00,17:34:00,0004188402024090920250612,4,0,0,19,3,D593_T0501b_Andata_PRINCIPALE_sub2
1160,166,5,17:36:00,17:36:00,0004188402024090920250612,5,0,0,21,9,D593_T0501b_Andata_PRINCIPALE_sub2
1161,2927,5,17:36:00,17:36:00,0004188402024090920250612,6,0,0,18,7,D593_T0501b_Andata_PRINCIPALE_sub2
1162,450,5,17:37:00,17:37:00,0004188402024090920250612,7,0,0,21,8,D593_T0501b_Andata_PRINCIPALE_sub2
1163,452,5,17:39:00,17:39:00,0004188402024090920250612,8,0,0,27,9,D593_T0501b_Andata_PRINCIPALE_sub2
1164,174,5,17:40:00,17:40:00,0004188402024090920250612,9,0,0,15,2,D593_T0501b_Andata_PRINCIPALE_sub2
1165,145,5,17:41:00,17:41:00,0004188402024090920250612,10,0,0,17,6,D593_T0501b_Andata_PRINCIPALE_sub2
1166,147,5,17:42:00,17:42:00,0004188402024090920250612,11,0,0,24,7,D593_T0501b_Andata_PRINCIPALE_sub2
1167,149,5,17:43:00,17:43:00,0004188402024090920250612,12,0,0,6,0,D593_T0501b_Andata_PRINCIPALE_sub2
1168,188,5,17:44:00,17:44:00,0004188402024090920250612,13,0,0,11,3,D593_T0501b_Andata_PRINCIPALE_sub2
1169,215,5,17:45:00,17:45:00,0004188402024090920250612,14,0,0,26,9,D593_T0501b_Andata_PRINCIPALE_sub2
1170,183,5,17:45:00,17:45:00,0004188402024090920250612,15,0,0,19,6,D593_T0501b_Andata_PRINCIPALE_sub2
1171,186,5,17:46:00,17:46:00,0004188402024090920250612,16,0,0,20,6,D593_T0501b_Andata_PRINCIPALE_sub2
1172,185,5,17:46:00,17:46:00,0004188402024090920250612,17,0,0,25,7,D593_T0501b_Andata_PRINCIPALE_sub2
1173,190,5,17:47:00,17:47:00,0004188402024090920250612,18,0,0,22,4,D593_T0501b_Andata_PRINCIPALE_sub2
1174,181,5,17:48:00,17:48:00,0004188402024090920250612,19,0,0,9,1,D593_T0501b_Andata_PRINCIPALE_sub2
1175,179,5,17:48:00,17:48:00,0004188402024090920250612,20,0,0,25,7,D593_T0501b_Andata_PRINCIPALE_sub2
1176,243,5,17:49:00,17:49:00,0004188402024090920250612,21,0,0,15,6,D593_T0501b_Andata_PRINCIPALE_sub2
1177,9,5,17:51:00,17:51:00,0004188402024090920250612,22,0,0,23,8,D593_T0501b_Andata_PRINCIPALE_sub2
1178,161,5,17:53:00,17:53:00,0004188402024090920250612,23,0,0,19,2,D593_T0501b_Andata_PRINCIPALE_sub2

In [62]:
df_with_shapes[df_with_shapes['trip_id'] == '0004187192024090920250612']

,stop_id,route_short_name,arrival_time,departure_time,trip_id,stop_sequence,hospital,school,passengers,passengers_out,shape_id
0,3049,L1,06:32:00,06:32:00,0004187192024090920250612,1,0,0,8,1,NaN
1,3050,L1,06:32:00,06:32:00,0004187192024090920250612,2,0,0,12,3,NaN
2,3052,L1,06:33:00,06:33:00,0004187192024090920250612,3,0,0,20,7,NaN
3,3054,L1,06:34:00,06:34:00,0004187192024090920250612,4,0,0,14,3,NaN
4,3047,L1,06:35:00,06:35:00,0004187192024090920250612,5,0,0,13,2,NaN

In [ ]:
df_with_shapes[df_with_shapes['route_short_name'] == 'L1'].sort_values(by='arrival_time', ascending=True).head(10)

,stop_id,route_short_name,arrival_time,departure_time,trip_id,stop_sequence,hospital,school,passengers,passengers_out,shape_id
0,3049,L1,06:32:00,06:32:00,0004187192024090920250612,1,0,0,8,1,NaN
1,3050,L1,06:32:00,06:32:00,0004187192024090920250612,2,0,0,12,3,NaN
2,3052,L1,06:33:00,06:33:00,0004187192024090920250612,3,0,0,20,7,NaN
3,3054,L1,06:34:00,06:34:00,0004187192024090920250612,4,0,0,14,3,NaN
70673,3047,L1,06:35:00,06:35:00,0004233092024091620250612,1,0,0,16,6,NaN
70694,3047,L1,06:35:00,06:35:00,0004233102024091620250612,1,0,0,7,3,NaN
4,3047,L1,06:35:00,06:35:00,0004187192024090920250612,5,0,0,13,2,NaN
70674,3053,L1,06:36:00,06:36:00,0004233092024091620250612,2,0,0,7,7,NaN
70695,3053,L1,06:36:00,06:36:00,0004233102024091620250612,2,0,0,13,2,NaN
70675,3056,L1,06:37:00,06:37:00,0004233092024091620250612,3,0,0,14,6,NaN

In [ ]:
# we can see how many trips are scheduled for each specific route
df_with_shapes[df_with_shapes['route_short_name'] == 'L1'].sort_values(by='arrival_time', ascending=True)['trip_id'].unique()

array(['0004187192024090920250612', '0004233092024091620250612',
       '0004233102024091620250612', '0004187312024090920250612',
       '0004187422024090920250612', '0004187322024090920250612',
       '0004187432024090920250612', '0004187332024090920250612',
       '0004187442024090920250612', '0004187342024090920250612',
       '0004187452024090920250612', '0004187362024090920250612',
       '0004187352024090920250612', '0004187472024090920250612',
       '0004187462024090920250612', '0004187372024090920250612',
       '0004187482024090920250612', '0004187202024090920250612',
       '0004187382024090920250612', '0004187522024090920250612',
       '0004187492024090920250612', '0004187392024090920250612',
       '0004187502024090920250612', '0004187212024090920250612',
       '0004187532024090920250612'], dtype=object)

In [59]:
df_with_shapes[df_with_shapes['trip_id'] == '0004187222024090920250612']

,stop_id,route_short_name,arrival_time,departure_time,trip_id,stop_sequence,hospital,school,passengers,passengers_out,shape_id
27,3014,L2,14:14:00,14:14:00,0004187222024090920250612,1,0,0,2,0,NaN
28,3094,L2,14:15:00,14:15:00,0004187222024090920250612,2,0,0,1,1,NaN
29,3022,L2,14:16:00,14:16:00,0004187222024090920250612,3,0,0,13,0,NaN
30,3037,L2,14:17:00,14:17:00,0004187222024090920250612,4,0,0,9,2,NaN
31,3036,L2,14:17:00,14:17:00,0004187222024090920250612,5,0,0,9,6,NaN

In [60]:
df_with_shapes[df_with_shapes['trip_id'] == '0004187232024090920250612']

,stop_id,route_short_name,arrival_time,departure_time,trip_id,stop_sequence,hospital,school,passengers,passengers_out,shape_id
32,3014,L3,07:27:00,07:27:00,0004187232024090920250612,1,0,0,22,8,NaN
33,3094,L3,07:28:00,07:28:00,0004187232024090920250612,2,0,0,21,2,NaN
34,3029,L3,07:29:00,07:29:00,0004187232024090920250612,3,0,0,21,7,NaN
35,3027,L3,07:30:00,07:30:00,0004187232024090920250612,4,0,0,9,2,NaN

In [61]:
df_with_shapes[df_with_shapes['trip_id'] == '0004187282024090920250612']

,stop_id,route_short_name,arrival_time,departure_time,trip_id,stop_sequence,hospital,school,passengers,passengers_out,shape_id
48,3014,L4,12:03:00,12:03:00,0004187282024090920250612,1,0,0,2,2,NaN
49,3094,L4,12:04:00,12:04:00,0004187282024090920250612,2,0,0,1,0,NaN
50,3030,L4,12:08:00,12:08:00,0004187282024090920250612,3,0,0,17,7,NaN
51,3031,L4,12:09:00,12:09:00,0004187282024090920250612,4,0,0,11,5,NaN
52,3032,L4,12:10:00,12:10:00,0004187282024090920250612,5,0,0,4,0,NaN
53,3033,L4,12:11:00,12:11:00,0004187282024090920250612,6,0,0,13,2,NaN
54,3034,L4,12:12:00,12:12:00,0004187282024090920250612,7,0,0,2,0,NaN
55,3035,L4,12:13:00,12:13:00,0004187282024090920250612,8,0,0,12,4,NaN
56,3014,L4,12:16:00,12:16:00,0004187282024090920250612,9,0,0,10,2,NaN