In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [11]:
# Connection settings
db_user = 'postgres'
db_pass = 'example'
db_host = 'localhost'
db_port = '5432'
db_name = 'raw_data'

# SQLAlchemy connection string
engine = create_engine(f'postgresql+psycopg2://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}')

In [12]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("SELECT MAX(bus_id) FROM bus"))
    for row in result:
        print(row[0])

213

In [ ]:
# Query the database
df = pd.read_sql("SELECT stop_times.stop_id, routes.route_short_name, stop_times.arrival_time, stop_times.departure_time, stop_times.trip_id, stop_times.stop_sequence FROM trips JOIN stop_times ON trips.trip_id = stop_times.trip_id JOIN routes ON trips.route_id = routes.route_id", engine)

In [11]:
df.head()

,route_id,service_id,trip_id,trip_headsign,direction_id,shape_id,wheelchair_accessible,trip_id,arrival_time,departure_time,stop_id,stop_sequence,route_id,agency_id,route_short_name,route_long_name,route_type,route_color,route_text_color
0,607,0000001432024090920250612,0004187192024090920250612,Sorni,False,None,NaN,0004187192024090920250612,06:32:00,06:32:00,3049,1,607,12,L1,01 Lavis Pressano Nave S.Felice Sorni,3,None,None
1,607,0000001432024090920250612,0004187192024090920250612,Sorni,False,None,NaN,0004187192024090920250612,06:32:00,06:32:00,3050,2,607,12,L1,01 Lavis Pressano Nave S.Felice Sorni,3,None,None
2,607,0000001432024090920250612,0004187192024090920250612,Sorni,False,None,NaN,0004187192024090920250612,06:33:00,06:33:00,3052,3,607,12,L1,01 Lavis Pressano Nave S.Felice Sorni,3,None,None
3,607,0000001432024090920250612,0004187192024090920250612,Sorni,False,None,NaN,0004187192024090920250612,06:34:00,06:34:00,3054,4,607,12,L1,01 Lavis Pressano Nave S.Felice Sorni,3,None,None
4,607,0000001432024090920250612,0004187192024090920250612,Sorni,False,None,NaN,0004187192024090920250612,06:35:00,06:35:00,3047,5,607,12,L1,01 Lavis Pressano Nave S.Felice Sorni,3,None,None

In [34]:
df.to_csv('/Users/anthony/Downloads/stop_times_w_route_names.csv')

In [15]:
len(df)

89595

In [18]:
df[df['stop_id'] == 183]

,stop_id,route_short_name,arrival_time,departure_time,trip_id,stop_sequence
570,183,5,06:42:00,06:42:00,0004187712024090920250612,15
593,183,5,08:00:00,08:00:00,0004187722024090920250612,15
616,183,5,08:29:00,08:29:00,0004187732024090920250612,15
752,183,5,07:35:00,07:35:00,0004187802024090920250612,15
862,183,5,07:22:00,07:22:00,0004187852024090920250612,15
...,...,...,...,...,...,...
49604,183,5,07:35:00,07:35:00,0004221242024090920250612,15
49627,183,5,07:41:00,07:41:00,0004221252024090920250612,15
49650,183,5,08:00:00,08:00:00,0004221262024090920250612,15
49673,183,5,08:15:00,08:15:00,0004221272024090920250612,15
49696,183,5,08:29:00,08:29:00,0004221292024090920250612,15

In [19]:
import numpy as np

In [ ]:
# lines that lead to hospitals
hospital = [1,2,3,"A",8,6,7]

In [24]:
df['hospital'] = np.where(df['route_short_name'].isin(hospital), 1, 0)

In [ ]:
# lines that lead to schools
school = [5,"5/",16,"P",10,9,19,3,1,6,"A",13]

In [ ]:
df['school'] =  np.where(df['route_short_name'].isin(school), 1, 0)

In [32]:
sum(df['school'])

3694

In [ ]:
sum(df['hospital'])

3147